p {
    font-size: 20px;
    font-family: roboto;
    color: white;
    text-align: center;
    list-style-type: none;
}
ul {
  font-size: 20px;
  font-family: roboto;
  color: white;
  text-align: center;
  list-style-type: none;

}

h2{
  font-size: 50px;
  font-family: lotte;
  color: white;
  text-align: center;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Thin.ttf);
}

@font-face {
    font-family: lotte;
    src: url(lottepaperfang.ttf);
}

/*body{
  background-image: url("Cliffside1.jpg");
  background-size: cover;
}*/

#DIV_1 {
    background-position: 50% 50%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0) url(beach.jpg) no-repeat scroll 50% 50% / cover padding-box border-box;
    zoom:1.1;
    background-size:cover;

}
/*#DIV_1*/
 .animatable {
    -webkit-transition:all 750ms ease-out;
    transition:all 750ms ease-out;
}
.scaled {
    -webkit-transform:scale(1.08);
    transform:scale(1.08);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #062E35;
    overflow-x: hidden;
    padding-top: 60px;
    opacity: 0.9;
    font-family: roboto;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main {
    transition: margin-left .5s;
    padding: 20px;
    height: 90%;
    width: 80%;
}

#mySidenav {
    transition: width .5s;
}
.center {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.banner {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.5;
  width: 92%;

}
#map {
  width: 70%;
  height: 50%;
  margin:auto;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
#target {
  width: 345px;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
