@import url(vegas.css);
h2 {
  font-family: lotte;
  text-align: center;
}
@font-face {
    font-family: roboto;
    src: url(Roboto-Thin.ttf);
}

@font-face {
    font-family: lotte;
    src: url(lottepaperfang.ttf);
}
p {
  font-family: roboto;
  text-align: center;
}
img {
  width:5%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
}
body{
  height: 100vh;
}
